@charset "UTF-8";
*,:after,:before{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:0!important;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased}
table{border-collapse:collapse;border-spacing:0}
ol,ul{list-style:none}
q:after,q:before{content:''}
fieldset,img{border:0}
abbr,acronym{border:0}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.col-c,.col-l,.col_c,.col_l,.l{float:left}
.col-r,.col_r,.r{float:right}
.c{clear:both}
.fix{zoom:1}
.fix:after,.fix:before{display:block;content:"clear";height:0;clear:both;overflow:hidden;visibility:hidden}
em{font-weight:400;font-style:normal}
body{color:#333;font-size:14px;line-height:1.5;font-family:M-Regular,'Microsoft Yahei',"PingFang SC","Helvetica Neue",Helvetica,Arial,sans-serif}
img{max-width:100%;border:none}
input,select,textarea{font-size:14px;color:#333;border:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0;font-family:M-Regular,'Microsoft Yahei',"PingFang SC","Helvetica Neue",Helvetica,Arial,sans-serif}
input[type=button],input[type=reset],input[type=submit]{cursor:pointer}
::-webkit-input-placeholder{color:#999}
::-moz-placeholder{color:#999}
::-ms-input-placeholder{color:#999}
select::-ms-expand{display:none}
a{color:#333;text-decoration:none}
/*!-----------------[初始化结束]--------------*/
.main{overflow: hidden;}
.main .wp{width:95%;max-width:12rem;margin:0 auto}
@font-face{font-family:Roboto-Bold;src:url(../fonts/Roboto-Bold.ttf)}
@font-face{font-family:Roboto-Medium;src:url(../fonts/Roboto-Medium.ttf)}
@font-face{font-family:Roboto-Regular;src:url(../fonts/Roboto-Regular.ttf)}
@font-face{font-family:DIN-Bold;src:url(../fonts/DIN-Bold.otf)}
@font-face{font-family:DIN-Medium;src:url(../fonts/DIN-Medium.ttf)}
@font-face{font-family:DIN-Regular;src:url(../fonts/DIN-Regular.otf)}
@font-face{font-family:PSL-pro;src:url(../fonts/PSL174pro.ttf)}
@media screen and (max-width:1200px){
.main .wp{padding:0 15px;width:auto;max-width:none}
}
@media (min-width:320px){
html{font-size:43.6667px}
}
@media (min-width:360px){
html{font-size:48px}
}
@media (min-width:375px){
html{font-size:50px}
}
@media (min-width:384px){
html{font-size:51.2px}
}
@media (min-width:414px){
html{font-size:55.2px}
}
@media (min-width:448px){
html{font-size:59.7333px}
}
@media (min-width:480px){
html{font-size:48px}
}
@media (min-width:512px){
html{font-size:68.2667px}
}
@media (min-width:544px){
html{font-size:72.5333px}
}
@media (min-width:576px){
html{font-size:76.8px}
}
@media (min-width:608px){
html{font-size:81.0667px}
}
@media (min-width:640px){
html{font-size:85.3333px}
}
@media (min-width:750px){
html{font-size:100px}
}
@media (min-width:1280px){
html{font-size:66.6667px}
}
@media (min-width:1360px){
html{font-size:70.8333px}
}
@media (min-width:1366px){
html{font-size:71.1458px}
}
@media (min-width:1400px){
html{font-size:72.9167px}
}
@media (min-width:1440px){
html{font-size:75px}
}
@media (min-width:1600px){
html{font-size:83.3333px}
}
@media (min-width:1680px){
html{font-size:87.5px}
}
@media (min-width:1920px){
html{font-size:100px}
}

.m-row1{overflow:hidden}
.wp1300{width:95%;max-width:13rem;margin:0 auto}
.m-row1 img{display:block;width:100%}
.m-img1{font-size:0}
.m-img1 .img{padding-top:39.0625%;background-repeat:no-repeat;background-position:center;background-size:cover;overflow:hidden}
.m-list1{background-color:#000;padding:1rem 0 0.5rem;color:#fff;overflow:hidden}
.m-list1 ul{display:flex;margin-bottom:0.5rem;}
.m-list1 ul li{flex:1;line-height:1.1;text-align:center;position:relative;overflow:hidden;font-family:DIN-Medium}
.m-list1 ul li::after{content:'';position:absolute;top:0;right:0;bottom:15%;width:.03rem;background-image:linear-gradient(to bottom,rgba(255,255,255,0),#fff,rgba(255,255,255,0));z-index:2}
.m-list1 ul li:last-child{flex:none;flex-shrink:0;padding-left:.35rem}
.m-list1 ul li:last-child::after{display:none}
.m-list1 .num{font-size:.36rem;letter-spacing:.02rem;margin-bottom:.4rem}
.m-list1 .num span{font-size:.56rem}
.m-list1 .desc{font-size:.28rem}
.m-vid1{position:relative;overflow:hidden}
.m-vid1 video{display:block;width:100%}
.m-vid1 .play{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:1.68rem;z-index:2;cursor:pointer;}
.m-info1{color:#000;background-color:#fff;text-align:center;line-height:1.2;padding:.55rem 0;font-family:DIN-Medium;overflow:hidden}
.m-info1 .tit{font-size:.48rem;font-family:DIN-Bold}
.m-info1 .titsub{font-size:.35rem;margin-bottom:.23rem}
.m-info1 .desc{font-size:.22rem;line-height:1.4}
.m-img2{background-repeat:no-repeat;background-position:top;background-size:100%;position:relative;background-color: #fff;}
.m-img2 .pic{display:block;font-size:0;margin:0 auto;position:relative;z-index:2}
.m-img2 .info{position:absolute;left:0;right:0;bottom:.14rem;text-align:center;color:#000;z-index:1}
.m-img2 .tit{font-size:.45rem;margin-bottom:.38rem;line-height:1.2;font-family:DIN-Bold}
.m-img2 .desc{font-size:.23rem;line-height:1.3;font-family:DIN-Regular}
.m-swiper1{background-color:#fbfbfb;padding:.96rem 0 .5rem;overflow:hidden}
.m-swiper1 .swiper{position:relative;background-repeat: no-repeat;background-position: center;background-size: 62.5%;}
.m-swiper1 .con{position:relative}
.m-swiper1 .img{display:block;font-size:0}
.m-swarr1{position:absolute;top:50%;left:50%;width:14.4rem;transform:translateX(-50%);font-size:0;z-index:2}
.m-swiper1 .arr{position:absolute;top:50%;transform:translateY(-50%);width:.43rem;z-index:2;cursor:pointer}
.m-swiper1 .prev{left:0}
.m-swiper1 .next{right:0}
.m-swiper1 .con{position:relative}
.m-swiper1 .bg{position:absolute;top:50%;left:0;right:0;transform:translateY(-50%);z-index:1}
.m-swiper1 .img{position:relative;z-index:2}
.m-info2{position:relative;background-color:#f3f3f3}
.m-info2 .txt{position:absolute;top:.43rem;left:0;right:0;color:#000;text-align:center;z-index:2}
.m-info2 .tit{font-size:.46rem;margin-bottom:.16rem;font-family:DIN-Bold}
.m-info2 .desc{font-size:.23rem;line-height:1.3;font-family:DIN-Medium}
.m-info3{background-color:#00000b;position:relative;overflow:hidden}
.m-info3 .info{position:absolute;top:.49rem;left:0;right:0;z-index:2;text-align:center;color:#fff}
.m-info3 .tit{font-size:.45rem;font-family:DIN-Bold;margin-bottom:.24rem}
.m-info3 .desc{font-size:.23rem;font-family:DIN-Regular;line-height:1.3;margin-bottom:.38rem}
.m-info3 .con{font-size:0}
.m-info3 .num{display:inline-block;vertical-align:middle;font-size:1.6rem;line-height:1;font-family:PSL-pro;margin-right:.2rem}
.m-info3 .txt{display:inline-block;vertical-align:middle;text-align:left;font-size:.34rem;line-height:1.2;font-family:DIN-Medium}
.m-info4{position:relative;background-color:#fff}
.m-info4 .info{position:absolute;top:.4rem;left:0;right:0;text-align:center;color:#000;font-family:DIN-Medium;z-index:2}
.m-info4 .tit{font-size:.45rem;margin-bottom:.28rem;font-family:DIN-Bold}
.m-info4 .desc{font-size:.23rem;line-height:1.3;margin-bottom:1.08rem}
.m-info4 .con{padding-left:10.4rem;text-align:left}
.m-info4 .txt{font-size:.34rem;color:#d22c25}
.m-info4 .img img{display: block;width:100%;}
.m-info5{position:relative;background-color:#000}
.m-info5 .info{position:absolute;top:.81rem;left:0;right:0;text-align:center;color:#fff;z-index:2}
.m-info5 .tit{font-size:.46rem;font-family:DIN-Bold;margin-bottom:.08rem}
.m-info5 .desc{font-size:.23rem;margin-bottom:1.02rem;font-family:DIN-Regular}
.m-info5 .con{padding-left:10.26rem;text-align:left}
.m-info5 .txt{font-size:.3rem;font-family:DIN-Medium}
.m-info6{position:relative;background-color:#f7f7f7;overflow:hidden}
.m-info6 .info{position:absolute;top:1.4rem;left:0;right:0;z-index:2}
.m-info6 .tit{font-size:.48rem;text-align:center;color:#000;font-family:DIN-Bold}
.m-info6 .img{display:block;text-align:center;font-size:0}
.m-info6 .img img{display:inline-block;width:auto;max-width:100%}
.m-list2{background-color:#fff}
.m-list2 ul{margin:0 -.05rem -.51rem;font-size:0;top:-1.06rem;position:relative;z-index:2}
.m-list2 ul li{display:inline-block;vertical-align:middle;width:25%;padding:0 .05rem}
.m-list2 .con{position:relative}
.m-list2 .pic{overflow:hidden}
.m-list2 .img{padding-top:71.18%;background-repeat:no-repeat;background-position:center;background-size:cover}
.m-list2 .info{position:absolute;left:0;right:0;bottom:.15rem;text-align:center;font-size:.18rem;color:#fff;z-index:2;font-family:DIN-Medium}
.m-info7{position:relative;background-color:#fff}
.m-info7 .bg1{position:absolute;top:0;left:0;right:0;bottom:1.2rem;z-index:0}
.m-info7 .bg2{position:absolute;top:0;left:0;right:0;height:5.05rem;z-index:1}
.m-info7 .info{position:relative;z-index:2;text-align:center;padding-top:.52rem;padding-bottom:1.2rem;color:#000}
.m-info7 .tit{font-size:.48rem;margin-bottom:.2rem;font-family:DIN-Bold}
.m-info7 .desc{font-size:.22rem;line-height:1.3;font-family:DIN-Medium}
.m-info7 .img{display:block;width:12rem;margin:0 auto -2.5rem;position:relative;z-index:4}
.m-info8{position:relative;background-color:#f7f7f7;padding:.96rem 0 .3rem;color:#000}
.m-info8 .info .tit{text-align:center;font-size:.46rem;margin-bottom:.4rem;font-family:DIN-Bold}
.m-info8 .info .desc{font-size:.24rem;text-align:center;font-family:DIN-Medium;line-height:1.2;margin-bottom:.6rem}
.m-list3{font-size:0;text-align:center;color:#d22c25}
.m-list3 li{display:inline-block;vertical-align:middle;width:2.38rem;position:relative}
.m-list3 li::after{content:'';position:absolute;top:50%;right:0;width:.02rem;height:.48rem;background-image:linear-gradient(to bottom,rgba(2,210,210,0),#d22c25,rgba(2,210,210,0));transform:translateY(-50%);z-index:2}
.m-list3 li:last-child::after{display:none}
.m-list3 .con{text-align:center}
.m-list3 .tit{display:flex;align-items:center;justify-content:center;height:.7rem;font-size:.3rem;line-height:1;font-family:DIN-Bold;margin-bottom:.1rem}
.m-list3 .desc{font-size:.24rem;line-height:1.1;font-family:DIN-Medium}
.m-info8 .txt{display:block;width:12rem;margin:0 auto;color:#9e001a;position:relative}
.m-info8 .txt .tit{position:absolute;top:30%;left:0;right:0;text-align:center;transform:translateY(-50%);width:85.75%;z-index:0;}
.m-info8 .txt .img{position:relative;z-index:2}
.m-info8 .txt .copy{font-size:.14rem;font-family:DIN-Regular;color:#000}
.m-info9{background-color:#000;padding:.6rem 0 0}
.m-info9 .info{color:#fff;text-align:center;font-family:DIN-Medium;line-height:1.2;margin-bottom:.6rem;position:relative;z-index:2}
.m-info9 .info .tit{font-size:.46rem;margin-bottom:.38rem;font-family:DIN-Bold}
.m-info9 .info .desc{font-size:.23rem}
.m-list4{text-align:center;padding-right:1.1rem;margin-bottom:-4.1rem;position:relative;z-index:2}
.m-list4 .con{display:inline-block;vertical-align:top;position:relative;color:#fff}
.m-list4 .line{display:inline-block;vertical-align:middle;width:.02rem;height:.48rem;background-color:#fff;margin:0 .6rem 0 .7rem}
.m-list4 .tit{font-size:.45rem;font-family:DIN-Medium;line-height:1;margin-bottom:.15rem}
.m-list4 .desc{font-size:.22rem;font-family:DIN-Medium;line-height:1.3}
.m-info10{background-color:#f7f7f7;padding:.68rem 0 .3rem;color:#000}
.m-info10 .info{text-align:center;margin-bottom:-.2rem;line-height:1.3;position:relative;z-index:2}
.m-info10 .tit{font-size:.46rem;margin-bottom:.34rem;font-family:DIN-Bold}
.m-info10 .desc{font-size:.24rem;font-family:DIN-Medium}
.m-info10 .img{display:block;width:14.4rem;margin:0 auto -1rem}
.m-info10 .con{margin-bottom:.6rem;font-size:.38rem;font-family:DIN-Medium;overflow:hidden}
.m-info10 .ltxt{float:left}
.m-info10 .rtxt{float:right}
.m-info10 .copy{text-align:center;font-size:.14rem;font-family:DIN-Regular}
.m-info11{padding:1.3rem 0 1rem;background-color:#fff}
.m-info11 .info{color:#000;line-height:1.3;font-family:DIN-Medium;text-align:center}
.m-info11 .icn{display:block;width:3.57rem;margin:0 auto .38rem}
.m-info11 .tit{font-size:.46rem;font-family:DIN-Bold;margin-bottom:.18rem}
.m-info11 .desc{font-size:.23rem}
.m-info12{padding-bottom:.28rem;position:relative;background-color:#fff;}
.m-info12 .bg{position:absolute;top:0;left:0;right:0;z-index:0}
.m-info12 .img{width:14.4rem;margin:0 auto;position:relative;z-index:2}
.m-info12 .info{position:relative;z-index:3;text-align:center;color:#000;margin:-1.6rem 0 1.3rem;font-family:DIN-Medium}
.m-info12 .tit{font-size:.46rem;font-family:DIN-Bold;margin-bottom:.1rem}
.m-info12 .desc{font-size:.23rem}
.m-list5{margin:.66rem 0 .95rem;padding:.56rem 0 .57rem;background-color:#000;text-align:center;color:#fff;overflow:hidden}
.m-list5 li{float:left;width:25%;font-size:.36rem;font-family:DIN-Medium;position:relative}
.m-list5 li::after{content:'';position:absolute;top:50%;right:0;transform:translateY(-50%);width:1px;height:.2rem;background-color:#fff;z-index:2}
.m-list5 li:last-child::after{display:none}
.m-info12 .copy{text-align:center;font-size:.13rem;color:#000;font-family:DIN-Regular}
.m-info13{position:relative;background-color:#00030e;padding-top:0.5rem;}
.m-info13 .info{position:absolute;top:.56rem;left:0;right:0;color:#fff;text-align:center;font-family:DIN-Medium;z-index:2}
.m-info13 .tit{font-size:.45rem;margin-bottom:.14rem;font-family:DIN-Bold}
.m-info13 .desc{font-size:.24rem;line-height:1.25;margin-bottom:1rem}
.m-list6{text-align:left;margin-bottom:1rem}
.m-list6 li{margin-bottom:1rem;line-height:1.25}
.m-list6 .icn{width:.4rem;margin-bottom:.16rem}
.m-list6 .t{font-size:.24rem;font-family:DIN-Bold;margin-bottom:.04rem}
.m-list6 .p{font-size:.2rem;font-family:DIN-Medium}
.m-info13 .copy{font-size:.13rem;color:#fff;font-family:DIN-Regular;text-align:left}
.m-info14{padding-top:.46rem;position:relative;background-color:#f7f7f7}
.m-info14 .info{text-align:center;color:#000;font-family:DIN-Medium;line-height:1.25;z-index:2}
.m-info14 .tit{font-size:.49rem;font-family:DIN-Bold;margin-bottom:.2rem}
.m-info14 .desc{font-size:.24rem;margin-bottom:1.14rem}
.m-list7{display:block;width:7.8rem;margin:0 auto -.22rem;font-size:0;color:#d22c25}
.m-list7 li{display:inline-block;vertical-align:middle;width:50%;font-family:DIN-Medium;position:relative;margin-bottom:.35rem}
.m-list7 li::after{content:'';position:absolute;top:.1rem;right:0;width:1px;height:.48rem;background-image:linear-gradient(to bottom,rgba(2,210,210,0),#d22c25,rgba(2,210,210,0));z-index:2}
.m-list7 li:nth-child(2n)::after{display:none}
.m-list7 .t{font-size:.3rem;font-family:DIN-Bold;margin-bottom:.08rem}
.m-list7 .p{font-size:.2rem}
.m-info14 .img{display:block;width:14.4rem;margin:0 auto}
.m-info14 .copy{position:absolute;left:0;right:0;bottom:.46rem;font-size:.13rem;color:#000;z-index:2}
.whitebox{padding:.75rem 0 .06rem;background-color:#fff;color:#000}
.whitebox .tit{font-size:.48rem;font-family:DIN-Bold;text-align:center;padding-bottom:.23rem;border-bottom:.02rem solid #cdcdcd;margin-bottom:.49rem}
.whitebox .list li{display:flex;flex-wrap: wrap;}
.whitebox .list a{width:33.33%;display:block;font-size:.22rem;margin-bottom:.2rem;font-family:DIN-Medium}
.m-copy{font-size: 12px;color:#000;padding:0.2rem 0;}
.m-copy.white{color:#fff;}
@media screen and (max-width:1200px){
.wp1300{width:auto;max-width:none;padding:0 15px}
.m-list1{padding:30px 0}
.m-list1 .num{font-size:16px;margin-bottom:15px}
.m-list1 .num span{font-size:24px}
.m-list1 .desc{font-size:14px}
.m-list1 ul{margin-bottom: 15px;}
.m-list1 ul li::after{width:2px}
.m-vid1 .play{width:60px}
.m-info1{padding:30px 0}
.m-info1 .tit{font-size:20px}
.m-info1 .titsub{font-size:16px;margin-bottom:10px}
.m-info1 .desc{font-size:14px}
.m-img2{padding-bottom:0.8rem;}
.m-img2 .pic{width:80%}
.m-img2 .info{bottom:15px}
.m-img2 .tit{font-size:20px;margin-bottom:15px}
.m-img2 .desc{font-size:14px}
.m-swiper1{padding:30px 0}
.m-swarr1{left: 0;right: 0;width: auto;transform: none;}
.m-swiper1 .arr{width:20px}
.m-info2{padding-top:30px}
.m-info2 .txt{position:relative;top:0;margin-bottom:0;padding:0 15px}
.m-info2 .tit{font-size:20px;margin-bottom:10px}
.m-info2 .desc{font-size:14px}
.m-info3{padding-top:30px}
.m-info3 .info{position:relative;top:0;margin-bottom:0}
.m-info3 .tit{font-size:20px;margin-bottom:10px}
.m-info3 .desc{font-size:14px}
.m-info3 .num{font-size:60px}
.m-info3 .txt{font-size:18px}
.m-info4 .info{top:30px}
.m-info4 .tit{font-size:20px}
.m-info4 .desc{font-size:14px;margin-bottom:1rem}
.m-info4 .con{padding-left:55%}
.m-info5 .info{top:30px;padding:0 15px;}
.m-info5 .tit{font-size:20px;margin-bottom:5px}
.m-info5 .desc{font-size:14px;margin-bottom:0;}
.m-info5 .con{padding-left:55%}
.m-info6{padding:30px 0}
.m-info6 .tit{font-size:20px}
.m-list2 ul{margin:0 -4px;top:0}
.m-list2 ul li{padding:0 4px}
.m-list2 .info{font-size:14px;bottom:10px}
.m-info7 .info{padding-top:30px;padding-bottom:60px}
.m-info7 .tit{font-size:20px;margin-bottom:10px}
.m-info7 .desc{font-size:14px}
.m-info7 .img{width:80%;margin-bottom:-90px}
.m-info8{padding:30px 0}
.m-info8 .info .tit{font-size:20px;margin-bottom:10px}
.m-info8 .info .desc{font-size:14px;margin-bottom:30px}
.m-list3 li{width:140px}
.m-list3 li::after{height:15px}
.m-list3 .tit{font-size:18px;height:50px;margin-bottom:10px}
.m-list3 .desc{font-size:14px}
.m-info8 .txt{width:auto}
.m-info8 .txt .copy{font-size:12px}
.m-info9{padding-top:30px}
.m-info9 .info{margin-bottom:30px}
.m-info9 .info .tit{font-size:20px;margin-bottom:15px}
.m-info9 .info .desc{font-size:14px}
.m-list4{padding-right:0;margin-bottom:0}
.m-list4 .tit{font-size:18px;margin-bottom:10px}
.m-list4 .desc{font-size:14px}
.m-list4 .line{margin:0 15px}
.m-info10{padding:30px 0}
.m-info10 .info{margin-bottom:0}
.m-info10 .tit{font-size:20px;margin-bottom:10px}
.m-info10 .desc{font-size:14px}
.m-info10 .img{width:auto;margin-bottom:-0.5rem;}
.m-info10 .con{margin-bottom:15px;font-size:18px}
.m-info10 .copy{font-size:12px}
.m-info11{padding:30px 0}
.m-info11 .icn{width:120px;margin-bottom:10px}
.m-info11 .tit{font-size:20px;margin-bottom:10px}
.m-info11 .desc{font-size:14px}
.m-info12 .img{width:auto}
.m-info12 .info{margin:-30px 0 30px}
.m-info12 .tit{font-size:20px;margin-bottom:10px}
.m-info12 .desc{font-size:14px}
.m-list5{margin:15px 0;padding:15px 0}
.m-list5 li{font-size:18px}
.m-list5 li::after{height:15px}
.m-info12 .copy{font-size:12px}
.m-info13 .info{top:30px}
.m-info13 .tit{font-size:20px;margin-bottom:10px}
.m-info13 .desc{font-size:14px;margin-bottom:30px}
.m-list6{margin-bottom:0}
.m-list6 li{margin-bottom:.4rem}
.m-list6 .icn{width:30px;margin-bottom:10px}
.m-list6 .t{font-size:16px}
.m-list6 .p{font-size:14px}
.m-info13 .copy{font-size:12px}
.m-info14{padding-top:30px}
.m-info14 .tit{font-size:20px;margin-bottom:10px}
.m-info14 .desc{font-size:14px;margin-bottom:20px}
.m-list7{width:auto;margin-bottom:0}
.m-list7 li{margin-bottom:15px}
.m-list7 .t{font-size:18px}
.m-list7 .p{font-size:14px}
.m-info14 .img{width:auto}
.m-info14 .copy{bottom:20px;font-size:12px}
.whitebox{padding:.4rem 0}
.whitebox .tit{font-size:.32rem;padding-bottom:.1rem;margin-bottom:.2rem}
.whitebox .list{flex-wrap:wrap}
.whitebox .list a{font-size:.24rem;margin-bottom:.2rem}
.m-copy{padding: 10px 0;}
}
@media screen and (max-width:900px){
.m-info13{overflow:hidden;padding-top:0;}
.m-info13 .info{top:0;position:relative;padding:30px 0}
.m-info13 .img{position:absolute;left:0;right:0;bottom:5%;z-index:1}
.m-info4{padding-top:50px;}
}
@media screen and (max-width:600px){
.m-list1 ul{flex-wrap:wrap;justify-content:center}
.m-list1 ul li{flex:none;width:50%;margin-bottom:15px}
.m-list1 ul li:nth-child(2n)::after{display:none}
.m-list1 ul li:last-child{padding-left:0;margin-bottom:0}
.m-img2{padding-bottom: 0;}
.m-img2 .info{position:relative;bottom:0;margin-top:0;padding-bottom:15px}
.m-info4{padding-top:0;}
.m-info4 .info{position:relative;top:0;padding:30px 15px 0;margin-bottom:0}
.m-info5 .info{position:relative;top:0;padding:30px 15px 0;margin-bottom:0}
.m-list2 ul li{width:50%;margin-bottom:10px}
.m-list3 li{display:block;width:auto;padding-bottom:10px}
.m-list3 li::after{top:100%;right:50%;transform:translateX(50%);width:20px;height:1px;background-image:linear-gradient(to right,rgba(2,210,210,0),#d22c25,rgba(2,210,210,0))}
.m-list3 li:last-child{margin-bottom:0}
.m-info8 .txt .tit{font-size:2rem}
.m-list5{padding-bottom:0}
.m-list5 li{width:50%;margin-bottom:15px}
.m-list5 li:nth-child(2n)::after{display:none}
}